td.fixedColumn {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
  border-right: 1px solid #000 !important;
}

th.fixedColumn {
  left: 0;
  z-index: 1;
  position: -webkit-sticky; /* for Safari */
  position: sticky !important;
  top: 0;
  border-right: 1px solid #000 !important;
}