  .time-slider-container {
    display: inline-block;
    margin-right: 10px;
  }
  
  .time-slider {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 3px;
    background: rgb(92, 103, 115);;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .time-slider:hover {
    opacity: 1;
    background: rgb(60, 68, 77);
  }
  
  .time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  #5cc05c;
    cursor: pointer;
  }
  
  .time-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  #5cc05c;
    cursor: pointer;
  }

  .time-slider-value {
    display: inline-block;
    position: relative;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: rgb(92, 103, 115);
    padding: 5px 10px;
    margin-left: 8px;
  }

  .time-slider-value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid rgb(92, 103, 115);
    border-bottom: 7px solid transparent;
    content: '';
}

  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}