.tableRowCountDiv {
    margin: 3px;
    float: left;
}

.tableRowCountLabel {
    margin-right: 5px;
}

.tableRowCountItem {
    color: #0087b9;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 2px 8px;
    text-decoration: none !important;
    line-height: 20px;
    display: inline-block;
}

.tableRowCountItem:hover {
    background: #eee;
}

.tableRowCountItem.selected {
    color: #006eaa;
    border: 1px solid #006eaa;
    background: transparent;
}