input {
    display: none;
}

label {
    display: block;
    padding: 5px 10px;
    line-height: 20px;
    background-color: #f2f4f5;
    color: #5c6773;
    text-decoration: none;
    transition: background .2s,border .2s,box-shadow .2s,text-decoration .2s;
}

label:hover {
    background-color: #e1e6eb;
    box-shadow: none;
}

label::before {
    font-family: Splunk Icons;
    font-style: normal;
    font-weight: 400;
	content: "\203A";
    font-weight: bold;
    padding: 15px;
}

input:checked + label::before {
	content: "\2C5";
}


.content {
    background-color: #fff;
    border: 1px solid #c3cbd4;
    padding: 10px 25px;
    margin: 0 0 1px 0;
}

input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
	transition: ease .5s;
}